<mat-sidenav-container>
  <mat-sidenav id="index" #drawer style="position: fixed" [mode]="mode">
    <app-side-menu [menuPath]="menuPath" (onClickBurger)="menuStatusReplace()"></app-side-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header [burgerHide]="burgerHide" [burgerStatusHide]="burgerStatusHide"  (onClickBurger)="menuStatusReplace()" ></app-header>

    <main class="content">
      <p>Documents</p>
      <button style="display: none" mat-button color="accent" id="toggle" (click)="drawer.toggle()">toggle menu</button>
      <p style="height: 2000px"> </p>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
