<header>
  <mat-toolbar>
    <div *ngIf="burgerStatusHide">
      <button *ngIf="burgerHide" (click)="clickBurger()" mat-icon-button class="example-icon">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div *ngIf="!burgerStatusHide">
      <button (click)="clickBurger()" mat-icon-button class="example-icon">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <button class="txt" style="margin-left: auto" mat-button [matMenuTriggerFor]="menu">Смирнов Д. Я.</button>
    <mat-menu yPosition="below" xPosition="before" #menu="matMenu">
      <button style="margin-right: 15px" mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Профиль</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Настройки</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Выход</span>
      </button>
    </mat-menu>

  </mat-toolbar>
</header>
