header {
  height: 60px;

  -webkit-box-shadow: 0 0 15px -3px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0 0 15px -3px rgba(34, 60, 80, 0.6);
  box-shadow: 0 0 15px -3px rgba(34, 60, 80, 0.6);
}

header mat-toolbar {
  background: white;
  padding: 25px;
}
