
.menu {
  height: 100%;
  max-width: 350px;
  min-width: 250px;

  z-index: 1;
  top: 0;
  left: 0;
  background: white;
  overflow-x: hidden;

  -webkit-box-shadow: 0 0 15px -3px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0 0 15px -3px rgba(34, 60, 80, 0.6);
  box-shadow: 0 0 15px -3px rgba(34, 60, 80, 0.6);
}

.menu-item {
  display: block;
}

.menu-item-name {
  margin-left: 0.5em;
}

.menu-item-selected {
  background: #F6F6F6;
  color: #3f51b5 !important;
  -webkit-box-shadow: 0 0 15px -3px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0 0 15px -3px rgba(34, 60, 80, 0.6);
  box-shadow: 0 0 15px -3px rgba(34, 60, 80, 0.6);
}

.menu-item-selected a {
  color: #3f51b5 !important;
}

.menu-block {
  display: flex;
  align-items: center;
}

.menu a {
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.menu a:hover {
  color: #3f51b5;
}

.menu-item-img {
  height: 40px;
  width: 40px;
}
