<div class="menu">
  <div class="menu-item-selected">
    <a class="menu-block" href="">
      <img src="../../../assets/home.svg" alt="home">
      <span class="menu-item-name">Главная</span>
    </a>
  </div>

  <div class="menu-item">
    <a class="menu-block" href="">
      <img src="../../../assets/calendar.svg" alt="calendar">
      <span class="menu-item-name">Расписание</span>
    </a>
  </div>

  <div class="menu-item">
    <a class="menu-block" href="">
      <img src="../../../assets/note.svg" alt="note">
      <span class="menu-item-name">Ведомости и направления</span>
    </a>
  </div>

  <div class="menu-item">
    <a class="menu-block" href="">
      <img src="../../../assets/documents.svg" alt="documents">
      <span class="menu-item-name">Ссписки групп</span>
    </a>
  </div>

  <div class="menu-item" style="position: fixed; bottom: 0; margin-bottom: 10px; width: 330px">
    <a class="menu-block" href="">
      <img src="../../../assets/exit.svg" alt="exit">
      <span class="menu-item-name">Выйти</span>
    </a>
  </div>

</div>
