html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.content {
  height: 100%;
  padding: 30px 15px 30px 30px;
}

mat-sidenav-container {
  height: 100%;
}

.menu {
  height: 100%;
  width: 330px;
  min-width: 330px;

  z-index: 1;
  top: 0;
  left: 0;
  background: white;
  overflow-x: hidden;

  -webkit-box-shadow: 0 0 15px -3px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0 0 15px -3px rgba(34, 60, 80, 0.6);
  box-shadow: 0 0 15px -3px rgba(34, 60, 80, 0.6);
}

.menu-item {
  display: block;
}

.menu-item-name {
  margin-left: 0.5em;
}

.menu-item-selected {
  background: #F6F6F6;
  color: #3f51b5 !important;
  -webkit-box-shadow: 0 0 15px -3px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0 0 15px -3px rgba(34, 60, 80, 0.6);
  box-shadow: 0 0 15px -3px rgba(34, 60, 80, 0.6);
}

.menu-item-selected a {
  color: #3f51b5 !important;
}

.menu-block {
  display: flex;
  align-items: center;
}

.menu a {
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
}

.menu a:hover {
  color: #3f51b5;
}

app-header {
  -webkit-box-shadow: 0 0 15px -3px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0 0 15px -3px rgba(34, 60, 80, 0.6);
  box-shadow: 0 0 15px -3px rgba(34, 60, 80, 0.6);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: darkgray;
}

mat-sidenav-content {
  background: white;
}
